.white-first .cell:nth-child(2n+1){
        background-color: #EBECD0;
}

.white-first .cell:nth-child(2n){
    background-color: #779556;
}

.black-first .cell:nth-child(2n) {
    background-color:#EBECD0;
}

.black-first .cell:nth-child(2n+1) {
    background-color: #779556;
}

.board {
    margin: auto;
    display: relative;
    margin-top: 50px;
    width: 600px;
    height: 600px;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

    position: relative;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

p{
    text-align: center;
}

button:hover {
    color: blue;
}

.frm {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    transform: scale(3,3);
}

.cell{
    position: relative;
}

.row-address {
    position: absolute;
    margin:0;
    top: 0.1rem;
    left: 0.1rem; 
    font-size: 1.3rem;
}

.col-address {
    position: absolute;
    margin: 0;
    bottom: 0.1rem;
    right: 0.1rem;
    font-size: 1.3rem;
}

.piece {
    width: 90%;
    height: 90%;
}

.dark {
    color: #EBECD0;
}

.white {
    color: #779556;
}

@media (max-width: 600px) {
    .board{
        width: 100%;
        height: auto;
    }
}